#modalPromo {
  .modal-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 460px;
    height: 100%;
    // border: 3px solid #e5e5e5;
    border: 3px solid #000;
    background: #fff;

    .promo-item {
      display: flex;
      flex-direction: column;
      color: #000;
      padding: 0 15px 20px 15px;
      gap: 10px;
      border: 2px solid #e5e5e5;
      margin-bottom: 15px;

      .promo-item-img {
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        color: #000;
        gap: 10px;

        img {
          height: 130px;
          width: 312px;
          object-fit: cover;
          align-items: center;
        }
      }


      .promo-detail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        button {
          color: #fff;
          background-color: #17a2b8;
          border-color: #17a2b8;
          border-radius: 5px;
          padding: 5px 20px 5px 20px
        }
      }
    }
    

    h1 {
      color: #000;
      font-size: 24px;
      font-family: $font-family;
      font-style: normal;
    }

    .modal-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      button {
        padding: 5px 5px 5px 25px;
        font-weight: bold;
      }
      button:hover {
        color: #a00703 !important;
      }
    }

  }
}
