@media (min-width: 760px) {
  #modalSelectPayments {
    .modal-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 36px;
      padding: 30px;
      border-radius: 30px;
      background: #fff;
      width: 400px;
      max-width: 400px;

      .title {
        color: #000;
        text-align: center;
        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 72px */
      }

      .row-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .item {
          display: flex;
          justify-content: space-between;
          border-radius: 24px;
          border: 2px solid #c9c9c9;
          width: 100%;
          padding: 16px 24px 16px 20px;
          .col-1 {
            display: flex;
            align-items: center;
            gap: 36px;

            img {
              width: 40px;
              max-width: 40px;
              height: 40px;
            }
            span {
              color: #000;
              text-align: center;
              font-family: $font-family;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
            }
          }

          .col-2 {
            display: flex;
            align-self: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 760px) {
  #modalSelectPayments {
    .modal-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      border-radius: 30px;
      background: #fff;
      width: 350px;
      max-width: 350px;

      .title {
        color: #000;
        text-align: center;
        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 72px */
      }

      .row-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .item {
          display: flex;
          justify-content: space-between;
          border-radius: 24px;
          border: 2px solid #c9c9c9;
          width: 100%;
          padding: 16px 24px 16px 20px;
          .col-1 {
            display: flex;
            align-items: center;
            gap: 36px;

            img {
              width: 40px;
              max-width: 40px;
              height: 40px;
            }
            span {
              color: #000;
              text-align: center;
              font-family: $font-family;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
            }
          }

          .col-2 {
            display: flex;
            align-self: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 390px) {
  #modalSelectPayments {
    .modal-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      border-radius: 30px;
      background: #fff;
      width: 350px;
      max-width: 350px;

      .title {
        color: #000;
        text-align: center;
        font-family: $font-family;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 72px */
      }

      .row-item {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;

        .item {
          display: flex;
          justify-content: space-between;
          border-radius: 24px;
          border: 2px solid #c9c9c9;
          width: 100%;
          padding: 16px 24px 16px 20px;
          .col-1 {
            display: flex;
            align-items: center;
            gap: 36px;

            img {
              width: 40px;
              max-width: 40px;
              height: 40px;
            }
            span {
              color: #000;
              text-align: center;
              font-family: $font-family;
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 150%; /* 36px */
            }
          }

          .col-2 {
            display: flex;
            align-self: center;
            align-items: center;
          }
        }
      }
    }
  }
}