#modalWaitingQris {
  .modal-box {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 30px;
    width: 300px;
    max-width: 300px;
    height: 200px;
    max-height: 200px;
    border-radius: 30px;
    background: #fff;

    .loading {
      width: 100px;
      color: #da2424;
    }

    img {
      width: 150px;
      height: auto;
    }

    h2 {
      color: #000;
      text-align: center;
      font-family: $font-family;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 66.33px; /* 138.188% */
    }
  }
}
