@media (min-width: 760px) {
  .carousel {
    position: relative;
    .carousel-item {
      display: flex;
      flex-wrap: nowrap;
      .img-home-carousel {
        width: 100%;
        height: 250px;
        max-height: 250px;
        object-fit: cover;
      }

      .overlay-text-label {
        position: absolute;
        top: 40px;
        padding: 6px;
        background-color: black;
        border-radius: 6px;
        margin-left: 10px;
        color: #fd9b27;
        font-weight: 600;
      }

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        .overlay-logo {
          width: 60px;
          height: 60px;
          background: #fff;
          padding: 8px;
          border-radius: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .overlay-text {
          color: white;
          font-size: 14px;
          font-weight: bold;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }

        .overlay-text-light {
          color: white;
          font-size: 14px;
          font-weight: 400;
          text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

@media screen and (min-width: 390px) and (max-width: 759px) {
  .carousel {
    position: relative;
    .carousel-item {
      display: flex;
      flex-wrap: nowrap;
      .img-home-carousel {
        width: 100%;
        height: 200px;
        max-height: 200px;
        object-fit: cover;
      }

      .overlay-text-label {
        position: absolute;
        top: 30px;
        padding: 6px;
        background-color: black;
        border-radius: 6px;
        margin-left: 10px;
        color: #fd9b27;
        font-weight: 600;
      }

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .overlay-logo {
        width: 60px;
        height: 60px;
        background: #fff;
        padding: 8px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .overlay-text {
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .overlay-text-light {
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 389px) {
  .carousel {
    position: relative;
    .carousel-item {
      display: flex;
      flex-wrap: nowrap;
      .img-home-carousel {
        width: 100%;
        height: 200px;
        max-height: 200px;
        object-fit: cover;
      }

      .overlay-text-label {
        position: absolute;
        top: 30px;
        padding: 6px;
        background-color: black;
        border-radius: 6px;
        margin-left: 10px;
        color: #fd9b27;
        font-size: 14px;
        font-weight: 600;
      }

      .overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
      }

      .overlay-logo {
        width: 50px;
        height: 50px;
        background: #fff;
        padding: 8px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .overlay-text {
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }

      .overlay-text-light {
        color: white;
        font-size: 14px;
        font-weight: 400;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
      }
    }
  }
}
