.split-item {
  display: flex;
  width: 130px;
  align-items: center;
  align-self: center;

  input {
    background: transparent;
    text-align: center;
    color: #000;
    font-family: $font-family;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  input:focus {
    background: transparent;
    text-align: center;
  }

  .btn-minus {
    display: flex;
    padding: 15px;
    width: 30px;
    height: 30px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 100%;
    border-radius: 100%;
    background: rgba(218, 36, 36, 0.08);

    button {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }

  .btn-plus {
    display: flex;
    padding: 15px;
    width: 30px;
    height: 30px;
    border: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    border-radius: 100%;
    background: #da2424;

    button {
      background: transparent;
      border: none;
      box-shadow: none;
    }
  }
}
