body {
  zoom: 1;

  #paymentFailed {
    padding-top: 80px;
    min-height: 100vh;
    flex-grow: 1;
    position: relative;
    background: #fff;
    display: flex;

    .buble-top {
      position: absolute;
      left: -50px;
      top: 0;
      bottom: 0;
      width: 20%;
      height: auto;
    }

    .buble-bottom {
      position: absolute;
      right: 0px;
      top: 2010px;
      bottom: 0;
      width: 20%;
      height: auto;
    }

    .wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
    //   margin-top: 200px;

      .content {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 38px;
        width: 60%;

        img {
          width: 521px;
        }

        .description {
          h2 {
            color: #0043a8;
            text-align: center;
            font-family: $font-family;
            font-size: 52px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 78px */
          }

          p {
            color: #000;
            text-align: center;
            font-family: $font-family;
            font-size: 32px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 48px */
          }
        }

        .btn-group {
          margin-top: 20px;
          display: flex;
          flex-direction: column;
          gap: 20px;
          width: 100%;

          .btn-primary {
            display: flex;
            width: 100%;
            height: auto;
            padding: 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 58px;
            background: #da2424;
            color: #fff;
            font-family: $font-family;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            border: none;
          }

          .btn-outline-primary {
            display: flex;
            padding: 20px;
            height: auto;
            background-color: transparent;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-radius: 58px;
            border: 1px solid #da2424;
            color: #da2424;
            font-family: $font-family;
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}
